@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body {
    margin: 0;
    font-family: 'Roboto', sans-serif;
}

body * {
    box-sizing: border-box;
}

.main-cadastro {
    width: 100vw;
    height: 100vh;
    background: rgba(36, 0, 71, 1);
    display: flex;
    justify-content: center;
    align-items: center;
}

.left-cadastro {
    width: 50vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.left-cadastro >h1 {
    font-size: 3vw;
    color: rgba(255, 255, 255, 1);
}

.left-cadastro-image {
    width: 30vw;
}

.right-cadastro {
    width: 50vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card-cadastro {
    width: 60%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 35px 20px;
    background: rgba(56, 0, 112, 0.62);
    border-radius: 61px;
    box-shadow: 0px 10px 40px rgba(18, 0, 34, 0.082);
}

.card-cadastro > h1 {
    color: rgba(255, 255, 255, 1);
    font-weight: 800;
    margin: 0;
    padding: 25px 0px;

}

.textfield {
    width: 85%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    margin: 10px 0px;
}

.textfield >input {
    width: 100%;
    border: none;
    border-radius: 10px;
    padding: 15px;
    background: rgba(255, 255, 255, 1);
    color: rgba(16, 0, 32, 1);
    font-size: 12pt;
    box-shadow: 0px 10px 40px rgba(18, 0, 34, 0.082);
    outline: none;
    box-sizing: border-box;
}

.textfield > label {
    color: rgba(255, 255, 255, 1);
    margin-bottom: 10px;
}

.textfield > input::placeholder {
    color: rgba(16, 0, 32, 1);
}

.btn-enviar {
    width: 25%;
    padding: 10px 0px;
    margin: 25px;
    border: none;
    border-radius: 8px;
    outline: none;
    text-transform: uppercase;
    font-weight: 800;
    letter-spacing: 3px;
    color: rgba(36, 0, 71, 1);
    background: rgba(128, 255, 0, 1);
    cursor: pointer;
    box-shadow: 10px 10px 40px -12px rgba(36, 0, 71, 1);
}

@media only screen and (max-width: 950px) {
    .card-cadastro {
        width: 85%;
    }
}

@media only screen and (max-width: 600px) {
    .main-cadastro {
        flex-direction: column;
    }

    .left-cadastro > h1 {
        display: none;
    }

    .left-cadastro {
        width: 100%;
        height: auto;
    }

    .right-cadastro {
        width: 100%;
        height: auto;
    }

    .left-cadastro-image {
        width: 50vw;
    }

    .card-cadastro {
        width: 90%;
    }


}